body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #2c38e9, #6229bd );
}

.box {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;

}
fieldset{
    border: 3px solid dodgerblue;
}
legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
    
}

.inputBox{
    position: relative;
}

.inputSenha{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputSenha:focus ~ .labelInput,
.inputSenha:valid ~ .labelInput
{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
