header .material-symbols-outlined {
    font-size: 30px;
}


header h1 {
    font-size: 150%;
}

form {
    font-family: arial;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 15px;
    color: white;
    text-align: center;
    
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

form div {
display: flex;
flex-direction: column;
margin-bottom: 20px;
}

form input {
    outline: unset;
    
    min-width: 300px;
    border: 1px solid burlywood;
    border-radius: 20px;

}

form input:focus {
    background-color: burlywood;
}

form input[type=submit] {
    background-color: rgb(170, 107, 26);
    color: white;
    cursor: pointer;
    border: 1px solid rgb(170, 107, 26);;
}

form label{
    
    
    text-align: center;
    
}

input::-webkit-input-placeholder{
    color: white;
}

header h1 {
    color: blue;
}

#menu {
    border-radius: 0 0 15px 0;

}
#menu a {
    color: black;
    text-decoration: none;

}
/*Quando o mcursor passar por cima do link*/
#menu a:hover {
    color: rgb(18, 32, 223);

}

#header{
    z-index: 1;
}

.hidden{
    display: none;
}
